@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111b21;
  --chat-bg: #0b141a;
  --message-out: #005c4b;
  --message-in: #202c33;
  --text: #e9edef;
  --secondary-text: #8696a0;
}

body {
  color: var(--text);
  background: var(--background);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #283a44;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
